.popular-products {
    &__text {
        padding-bottom: 25px;
    }
    padding-bottom: 80px;
    &__text__title {
        font-size: 25px;
    }
    &__text__menu {
        display: flex;
        justify-content: space-between;
        max-width: 60%;
        margin: 0;
        padding: 0;
        
        &__item__link {
            font-size: 15px;
        }
    }
    
}

.product-card-header {
    display: flex;
    justify-content: flex-end;
    padding: 16px 19px 0px 0px;
}

.product-card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.products-card__footer__text {
    text-align: center;
    font-size: 30px;
}

.products-card__footer__img {
    background-color: var(--color-accent);
    padding: 10px 16px 7px 14px;
    border-top-left-radius: 5px;
    
}

.products-card__footer {
    display: flex;
    justify-content: flex-end;
}

.product-card-main__title {
    font-size: 18px;
    font-weight: 400;
}

.show-more__button{
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 15px;
    padding: 17px 43px 15px 43px;
    background-color: var(--color-basic);
}

.button__container {
    display: flex;
    padding-top: 35px;
}