.search-product {
    padding-top: 80px;

}

.search__nav__menu {
    padding: 0;
    margin: 0;
}

.search__nav__menu {
    display: flex;
    gap: 25px;
}

.search__nav__menu-item__button {
    font-size: 20px;
}

.search-products {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search-product__bottom {
    display: flex;
    justify-content: space-between;
}
.search-product__bottom__input {
    width: 100%;
    padding-block: 15px;
    font-size: 16px;
    background-color: var(--color-basic);
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
.search-product__bottom__input:focus {
    border: none;
    outline: none;
}
.search-product__bottom__button {
    background-color: var(--color-accent);
    color: var(--color-white);
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}